In [1]:
print("Hello world")

Hello world

In [16]:
a=9
b=6
c=a+b
print(c)

15

In [7]:
 a =9.08

In [8]:
print(c)

15

In [9]:
True

True

In [10]:
False

False

In [11]:
c

15

In [12]:
c
c
a

9.08

In [14]:
## last line is interactive

In [18]:

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a%b)
print(a//b) ##interzer division

15
3
54
1.5
531441
3
1

In [19]:
float(9)

9.0

In [20]:
import math

In [21]:
math.log(234)

5.455321115357702

In [22]:
math.tan(47.5)

0.3949093490616383

In [23]:
a="hello world"

In [24]:
a[0]

'h'

In [30]:
print(a[-1])
print(a[1:3])
print(a[:5])
print(a[7:])
print(a[::-1])
print(a[::2])

d
el
hello
orld
dlrow olleh
hlowrd

In [31]:
a="hello"
b="wprld"
c=a+b
print(c)

hellowprld

In [32]:
print(a+a)

hellohello

In [33]:
print(a*6)

hellohellohellohellohellohello

In [34]:
a= "my age is "
b=25
c= a+b

TypeError: can only concatenate str (not "int") to str

In [35]:
c=a+str(b)

In [36]:
c

'my age is 25'

In [38]:
print(a,b) ##python adds a space between them

my age is  25

In [40]:
a= "my age is {}"
b =25
c=a.format(b)
c

'my age is 25'

In [42]:
a= "my age is {},{},{}"
b =25
c=a.format(b)
c

IndexError: Replacement index 1 out of range for positional args tuple

In [43]:
a= "my age is {},{},{}"
b =25
c=a.format(b,2343,134)
c

'my age is 25,2343,134'

In [44]:
print("my age is {}".format(345))

my age is 345

In [1]:
a = "my name is \" pranjal \""

In [2]:
a

'my name is " pranjal "'

In [5]:
a = " hello \nworld"

In [6]:
a

' hello \nworld'

In [7]:
print(a)

 hello
world

In [8]:
a = " hello world    "

In [9]:
a

' hello world    '

In [10]:
a.lower()

' hello world    '

In [11]:
a.upper()

' HELLO WORLD    '

In [12]:
a

' hello world    '

In [13]:
a= a.upper()

In [14]:
a

' HELLO WORLD    '

In [15]:
# to change a

In [16]:
a.strip() # spaces removed froms start and end

'HELLO WORLD'

In [17]:
len(a)

16

In [18]:
len(a.strip())

11

In [19]:
a.count("o")

0

In [20]:
a.count("O")

2

In [23]:
a.count("L")

3

In [24]:
a.replace("L","zzzzz")

' HEzzzzzzzzzzO WORzzzzzD    '

In [25]:
a

' HELLO WORLD    '

In [26]:
# strings to list 

a.split() # splits at space

['HELLO', 'WORLD']

In [27]:
#membership func
"l" in a

False

In [28]:
"L" in a

True

In [29]:
"lads" in a

False

In [30]:
"l" in a.lower()

True

In [31]:
"l" not in a.lower()

False